<!--<br/>-->
<!--<table border="1px solid #ffffff">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<td>ID</td>-->
        <!--<td>Name</td>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr data-ng-repeat="record in records">-->
        <!--<td data-ng-bind="record.id"></td>-->
        <!--<td data-ng-bind="record.name"></td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
<h1>inside directive :</h1>
<input type="text" data-ng-model="name"/>
<u>{{name}}</u><hr/>
